adium-theme-ubuntu==0.3.4
android-resource-remover==0.1.5
apt-xapian-index==0.45
awscli==1.6.2
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bcdoc==0.12.2
boto==2.33.0
botocore==0.73.0
certifi==2015.11.20.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
decorator==4.0.6
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
docutils==0.12
duplicity==0.6.23
Fabric==1.8.2
functools32==3.2.3.post2
GraphLab-Create==1.7.1
GraphLab-Create-License==1.7.1
html5lib==0.999
httplib2==0.8
ipykernel==4.2.2
ipython==4.0.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jmespath==0.5.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
librato-metrics==0.4.9
lockfile==0.8
lxml==3.3.3
MarkupSafe==0.23
matplotlib==1.3.1
mistune==0.7.1
mixpanel-py==3.1.1
multipledispatch==0.4.8
MySQL-python==1.2.3
nbconvert==4.1.0
nbformat==4.0.1
ndg-httpsclient==0.4.0
networkx==1.11
nose==1.3.7
notebook==4.1.0
numpy==1.10.4
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
pandas==0.17.1
paramiko==1.10.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==2.3.0
piston-mini-client==0.7.5
prettytable==0.7.2
psycopg2==2.4.5
ptyprocess==0.5
py4j==0.9
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
Pygments==2.1
pygobject==3.12.0
pyOpenSSL==0.13
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu1
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
pytz==2012rc0
pyxdg==0.25
pyzmq==15.2.0
qtconsole==4.1.1
regetron==1.4
reportlab==3.0
requests==2.3.0
rsa==3.1.2
sessioninstaller==0.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==0.8.4
sseclient==0.0.8
system-service==0.1.6
termcolor==1.1.0
terminado==0.6
tornado==4.3
traitlets==4.1.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==14.0.6
xdiagnose===3.6.3build2
zope.interface==4.0.5
