{% extends 'layouts/base.html' %}

{% set page_title = "Delete Profile" %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="col-md-12">
                <form class="form-horizontal" method="post" action="{{ url_for('bro.delete_profile') }}" role="form">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p>Are you sure to delete your profile?</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-danger">Delete Profile</button>
                        <span></span>
                        <a href="{{ url_for('bro.profile') }}" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}