{% extends 'layouts/base.html' %}

{% set page_title = "List Bros" %}

{% block container %}
    <form class="row list-group" method="get" action="{{ url_for('bro.list_bros') }}">
        <div class="col-xs-6 col-lg-1 pull-right">
            <button class="btn btn-primary pull-right">Sort</button>
        </div>
        <div class="col-xs-6 col-lg-2 pull-right">
            <select name="sort" class="form-control">
                <option value=""></option>
                <option value="name_asc" {% if sort == 'name_asc' %} selected {% endif %}>Username [A-Z]</option>
                <option value="name_desc" {% if sort == 'name_desc' %} selected {% endif %}>Username [Z-A]</option>
            </select>
        </div>
    </form>

    <div class="row list-group">
        {% for bro in bros %}
            <div class="col-xs-6 col-lg-3">
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename='images/no-user.jpg') }}"
                         class="img-circle img-thumbnail">
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">{{ bro }}</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                {% if current_user.is_authenticated %}
                                    {% if current_user.is_friend(bro) %}
                                        <a class="btn btn-danger btn-sm pull-left"
                                           href="{{ url_for('bro.unfriend_bro', bro_id=bro.id) }}">Unfriend</a>
                                    {% else %}
                                        <a class="btn btn-primary btn-sm pull-left"
                                           href="{{ url_for('bro.friend_bro', bro_id=bro.id) }}">Add Bro</a>
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-success btn-sm pull-right" href="">Add Best Bro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="lead text-center">
                There are any bros in the Bro Social Network.
            </p>
        {% endfor %}
    </div>
    {{ pagination.links }}

{% endblock %}