{% extends 'layouts/base.html' %}

{% set page_title = "List Bros" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data-tables.bootstrap.min.css') }}">
{% endblock %}

{% set bro_name_class = 'sorting' %}
{% if sort == 'name_asc' %}
    {% set bro_name_class = 'sorting_asc' %}
{% elif sort == 'name_desc' %}
    {% set bro_name_class = 'sorting_desc' %}
{% endif %}

{% set friends_name_class = 'sorting' %}
{% if sort == 'friends_qty_asc' %}
    {% set friends_name_class = 'sorting_asc' %}
{% elif sort == 'friends_qty_desc' %}
    {% set friends_name_class = 'sorting_desc' %}
{% endif %}

{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered dataTable">
                <thead>
                <tr>
                    <th class="sortable {{ bro_name_class }}" id="name">
                        Bro name
                    </th>
                    <th>Best Friend</th>
                    <th class="sortable {{ friends_name_class }}" id="friends_qty">Friends</th>
                    {% if current_user.is_authenticated %}
                        <th width="220">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for bro in bros %}
                    <tr>
                        <td>{{ bro.username }}</td>
                        <td></td>
                        <td class="text-center">{{ bro.friends_qty }}</td>
                        {% if current_user.is_authenticated %}
                            <td>
                                <div>
                                    {% if current_user.is_same_bro(bro) %}
                                        <span class="label label-success">You</span>
                                    {% elif current_user.is_friend(bro) %}
                                        <a class="btn btn-danger btn-xs"
                                           href="{{ url_for('bro.unfriend_bro', bro_id=bro.id) }}">
                                            <i class="fa fa-user"></i>
                                            Unfriend
                                        </a>
                                    {% else %}
                                        {% if current_user.best_friend and current_user.best_friend.id == bro.id %}
                                            <a class="btn btn-danger btn-xs"
                                               href="{{ url_for('bro.remove_best_friend', bro_id=bro.id) }}">
                                                <i class="fa fa-user"></i>
                                                Delete Best Friend
                                            </a>
                                        {% else %}
                                            {% if not current_user.best_friend %}
                                                <a class="btn btn-primary btn-xs"
                                                   href="{{ url_for('bro.best_friend_bro', bro_id=bro.id) }}">
                                                    <i class="fa fa-user"></i>
                                                    Make Best Friend
                                                </a>
                                                <a class="btn btn-info btn-xs"
                                                   href="{{ url_for('bro.friend_bro', bro_id=bro.id) }}">
                                                    <i class="fa fa-user"></i>
                                                    Add Friend
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            There are any bros in the Bro Social Network.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form id="sortable" method="get">
                <input name="page" value="{{ pagination.page }}" type="hidden">
                <input name="sort" id="sort" type="hidden">
            </form>
        </div>
    </div>
    {{ pagination.links }}
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        $(function () {
            var sort_strategy = '_asc';
            $('.sortable').on('click', function () {
                var id = $(this).attr('id');
                if ($(this).hasClass('sorting_asc')) {
                    sort_strategy = '_desc';
                }

                var sort = id + sort_strategy;
                $('#sort').attr('value', sort);
                $('#sortable').submit();
            });
        });
    </script>
{% endblock %}